*/__pycache__/*
__pycache__/

# Ignora gli ambienti virtuali di Python
.venv/

# Ignora i file di database generati a runtime
**/assets/news_feed.db*
**/data/news_feed.db*

data/query.py
.pytest_cache/
*/.pytest_cache/

.env
.coverage